/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Shrikhand&display=swap');

/* Général */

*{
    margin:0;
    scroll-behavior: smooth;
}

:root{
    --red:#F54927;
    --orange:#ff7800;
    --yellow:#ffae00;
    --black:#000;
    --white:#fff;
    --primary-font: "Roboto", sans-serif;
    --title-font: "Shrikhand", serif;
    --button-font: "Inter", sans-serif;
}

h1, footer h2{
    font-family: var(--title-font);
    font-size: 30px;
    font-weight: 400;
    font-style: italic;
}

h2{
    font-family: var(--primary-font);
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

p{
    font-family: var(--primary-font);
    font-size: 15px;
    font-weight: 300;
}

a{
    text-decoration: none;
    color: var(--black);
}

/* Mobile first (320px à 767px)*/

/* Header */

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0 20px 50px;
}

/* Main */

/* section #find */
#find{
    background-color: var(--yellow);
    text-align: center;
    padding: 20px 7px;

    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px;

        input[type=text]{
            border-radius: 15px;
            background-color:var(--yellow);
            border-style: none;
            box-shadow: 0px 5px 7px 1px rgba(0, 0, 0, 0.25);
            padding: 6px;
            width: 100%;
        }  

        ::placeholder{
            color: var(--black);
            font-family: var(--button-font);
            font-size: 15px;
        }

        button{
            background: linear-gradient(var(--orange), var(--yellow));
            border-radius: 15px;
            width: fit-content;
            margin-top: 25px;
            padding:7px 12px;
            font-family: var(--button-font);
            font-size: 12px;
            font-weight: 600;
            box-shadow: 0px 5px 7px 1px rgba(0, 0, 0, 0.25);
            border-style: none;
        }
          
    }
}

/* section #how-it-works */
#how-it-works{
    padding: 25px;

    ul{
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
        
        

        li{
            box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.25);
            padding: 10px;
            border-radius: 5px;
            position:relative;
        }
            
        #num1::before{
            content:'1';
            position: absolute;
            left: -20px;
            top: 5px;
            background-color: var(--orange);
            color: var(--white);
            border-radius: 100px;
            padding: 5px 10px;
        }

        #num2::before{
            content:'2';
            position: absolute;
            left: -20px;
            top: 5px;
            background-color: var(--orange);
            color: var(--white);
            border-radius: 100px;
            padding: 5px 10px;
        }
        
        #num3::before{
            content:'3';
            position: absolute;
            left: -20px;
            top: 5px;
            background-color: var(--orange);
            color: var(--white);
            border-radius: 100px;
            padding: 5px 10px;
        } 
        
    }
}

/* section #choose */
#choose{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: var(--yellow);
    color: var(--black);
    padding: 25px;

    .cards{
        display: flex;
        flex-direction: column;
        gap: 25px;

        .card{
            background-color: var(--white);
            border-radius: 15px;
            padding-bottom: 10px;

            img{
                width: 100%;
                object-fit: cover;
                border-radius: 15px 15px 0 0;
            }

            .content{
                padding: 5px;

                .recommand{
                    display: flex;
                    border-top: 1.5px solid var(--orange);
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 10px;

                    p{
                        margin-top: 7px;}
                }
            }
        }
    }
}

/* Footer */

footer{
    background-color: var(--black);
    padding: 10px;
    
    h2{
        font-family: var(--title-font);
        font-size: 30px;
        font-weight: 400;
        font-style: italic;
        color: var(--white);
    }

    >div{
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 15px;
    
        a{
            color: var(--white);
            font-family: var(--primary-font);
            font-style: light;
            font-size: 15px;
            font-weight: 300;

            &:hover{
                color: var(--orange);
            }
        }
    }
}