/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Shrikhand&display=swap');

/* Général */

*{
    margin:0;
    scroll-behavior: smooth;
}

:root{
    --red:#F54927;
    --orange:#ff7800;
    --yellow:#ffae00;
    --black:#000;
    --white:#fff;
    --primary-font: "Roboto", sans-serif;
    --title-font: "Shrikhand", serif;
    --button-font: "Inter", sans-serif;
}

h1, footer h2{
    font-family: var(--title-font);
    font-size: 30px;
    font-weight: 400;
    font-style: italic;
}

h2{
    font-family: var(--primary-font);
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

h3{
    font-family: var(--primary-font);
    font-size: 18px;
    font-weight: bold;
}

p, li{
    font-family: var(--primary-font);
    font-size: 15px;
    font-weight: 300;
}

a{
    text-decoration: none;
    color: var(--black);
}

button{
    /* effet de zoom au hover */
    background: linear-gradient(var(--orange), var(--yellow));
    border-radius: 15px;
    width: fit-content;
    margin-top: 25px;
    padding:9px 30px;
    font-family: var(--button-font);
    font-size: 12px;
    font-weight: 600;
    box-shadow: 0px 5px 7px 1px rgba(0, 0, 0, 0.25);
    border-style: none;
    cursor: pointer;


    &:hover{
        transform:scale(1.04);
    }
}



/* Mobile first (320px à 767px)*/

/* Header */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 17px;

    .desktop{
        display: none;
    }
}

/* Main */
#card{
    img{
        height: 300px;
        object-fit: cover;
        width: 100%;
    }

    h2{
        text-align: center;
        padding-top: 10px;
    }

    .recommand{
        border-top: 1px solid var(--orange);
        margin: 10px;
        padding-top: 5px;
        display: flex;
        justify-content: space-between;
        padding: 15px 5px;
    

        .pouce{
            cursor: pointer;

            input{
                display: none;
            }

            .icon{
                background-image: url("../img/thumbs-up-regular.svg");
                display: inline-block;
                width: 20px;
                height: 20px;
            }

            input:checked + .icon{
                background-image: url("../img/thumbs-up-solid.svg");
            }
        }
    }
}

#who-are-we{
    border-bottom: 1px solid var(--orange);
    border-top: 1px solid var(--orange);
    padding: 31px 15px;
}

#maps{
    border-bottom: 1px solid var(--orange);
    padding: 30px 15px;

    iframe{
        width: 100%;
        height:280px;
        border-style: none;        
    }
}

#contact-us{
    padding: 30px 15px;

    .contact{
        article{
            display: flex;
            gap: 5px;
            margin-top: 15px;

            i{
                color: var(--orange);
            }
        }
    }

    #follow-us{
        display: flex;
        flex-direction: column;
        justify-content: center;

        h3{
            margin: 18px 0;
        }

        ul{
            display: flex;
            list-style: none;
            justify-content: space-around;
            padding: 0;
        }
    }

    form{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 20px 0;

        input{
            border: 1px solid var(--orange);
            padding: 7px;
            cursor: pointer;
        }

        textarea{
            border: 1px solid var(--orange);
            padding: 5px;
            font-family: var(--button-font);
            font-size: 13.2px;
            font-weight: 400;
        }

        ::placeholder{
            color: var(--black);
            font-family: var(--button-font);
            font-size: 13.2px;
            font-weight: 400;
        }

        #check{
            display: flex;
            gap: 5px;
            font-family: var(--button-font);
            font-size: 13.75px;
            font-weight: 400;
            cursor: pointer;

            label{
                cursor: pointer;
            }
        }

        button{
            margin: auto;
        }
    }
}

/* Footer */
footer{
    background-color: var(--black);
    padding: 10px;
    
    h2{
        font-family: var(--title-font);
        font-size: 30px;
        font-weight: 400;
        font-style: italic;
        color: var(--white);
    }

    >div{
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 15px;
    
        a{
            color: var(--white);
            font-family: var(--primary-font);
            font-style: light;
            font-size: 15px;
            font-weight: 300;

            &:hover{
                color: var(--orange);
            }
        }
    }
}

/* Format tablette (768px à 1024px)*/

@media screen and (min-width:768px) {
    header{
        nav{

            i{
                margin-left: 30px;
            }
        };
    }

    main{
        #card{
            .content{
                display: flex;
                justify-content: space-between;
                padding: 0 15px;

                .recommand{
                    border-style: none;
                    padding: 0;
                    align-items: center;
                    gap: 20px;
                    } 
                }
            }

        #who-are-we{
            h2{
                text-align: center;
            }
        }

        #maps{
            h2{
                text-align: center;
            }
        }
        #contact-us{
            h2, h3{
                text-align: center;
            }

            .contact{
                display: flex;
                justify-content: space-around;
            }
        }
        }
}

/* Format desktop (dès 1025px) */

@media screen and (min-width:1024px) {
    header{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
        h1{
            padding-left: 20px;
        }

        nav{
            display: flex;

            ul{
                padding: 0;
                list-style: none;

                .desktop{
                    display:flex;
                    gap: 25px;
                    
                    a{padding: 0;
                    }
                }   
            }
        }

        .hidden{
            display: none;
        }
    }

    main{
        #card {
            max-width: 960px;
            margin: auto;
        }

        #who-are-we, #maps, #contact-us{
            max-width: 990px;
            margin: auto;
        }
    }

    footer{
        display: flex;
        justify-content: center;
        gap: 25px;
        
        div{
            flex-direction: row;
        }
    }
}
